<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
	<style type="text/css">
		input,select{
			width: 300px!important;
			border-radius: 0px!important;
		}
		form{
			margin: 20px auto;
			width: 300px;
			height: 450px;
			text-align: center;
		}
		select{
			height:30px;
		}
		button{
			width: 140px;
			border-radius: 0px!important;
		}
	</style>
</head>
<body>


  {% include "nav.html" %}
 
 <form action="{% url 'create_patient' %}" method="POST" enctype="multipart/form-data">
	{% csrf_token %}
 	<input type="text" name="name" placeholder="Full Name" required="" class="form-control" ><br>
 	<input type="text" name="username" placeholder="Userame" required="" class="form-control" ><br>

 	
 	<input type="email" name="email" placeholder="Email" required="" class="form-control" ><br>
 	<input type="tel" name="phone" placeholder="Phone Number" required="" class="form-control" ><br>
 	<input type="number" name="age" placeholder="Age" required="" class="form-control" ><br>
 	  <div class="form-group">
  	<p align="left">Gender</p>
 <select name="gender" >
	         <!-- <option default="">Select Gender</option> -->
	         <option  name="Male" default="">Male </option>
	         <option  name="Female">Female</option>
	         <option  name="Transgender">Transgender</option>

	         </select><br>
  </div>
 	  <div class="form-group">
  	<p align="left">Blood Group</p>
 <select name="blood" >
	         <!-- <option default="">Select Gender</option> -->
	 

	         <option   >Select</option>
	                 <option  name="A+" value="">A+ </option>
	         <option  name="B+">B+</option>
	         <option  name="AB+">AB+</option>
	         <option  name="O+">O+</option>
	         <option  name="A-">A-</option>
	         <option  name="B-">B- </option>

	         <option  name="AB-">AB-</option>
	         <option  name="O-">O-</option>


	         </select><br><br>
	<textarea class="form-control" name="address"  placeholder="Address"></textarea><br><br>
	<input type="number" name="outstanding" placeholder="Outstanding Amount" required=""><br><br>
	<input type="number" name="paid" placeholder="Paid Amount" required=""><br><br>

<input type="file" name="report"  class="form-control" ><br>
<input type="text" name="case" required="" class="form-control"  placeholder="Cases"><br>
  </div>





  <button type="submit" class="btn btn-primary">Create Patient</button>
</form>
</div>
</div>






<!--JS Library -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" ></script>
</body>
</html>