<!DOCTYPE html>
<html>
<head>
	<title>HR Dashboard</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
	<style type="text/css">
		.card-body{
			text-align: center;
		}
		.card{
			height: 200px;
		}
		button{
      width: 100%;
    }
	</style>
	</head>
<body>
 {% include "nav.html" %}




 <div class="card-group">
  <div class="card">
  
    <div class="card-body bg-light">
      <h5 class="card-title">Total Docters</h5>
      <h5>{{ all_d }}</h5>
      
    </div>
  </div>
  <div class="card">
    <div class="card-body bg-success">
      <h5 class="card-title">Total Patients</h5>
      <h5>{{ all_p }}</h5>

    	
    </div>
  </div>
  <div class="card">
    <div class="card-body bg-primary">
      <h5 class="card-title">On Duty Doctors</h5>
      <h5>{{ active_d }}</h5>

      
    </div>
  </div>
</div>
<br>
<div class="container">
<div class="row">
	<div class="col-sm-12">
		<button class="btn btn-primary">Docter</button>
		<table class="table">
  <thead>

    <tr>
      <th scope="col">Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col">Gender</th>
      <th scope="col">Age</th>
      <th scope="col">Status</th>
      <th scope="col">Department</th>
      <th scope="col">Attendance</th>
      <th scope="col">Salary</th>
      <th scope="col">Update </th>
      <th scope="col">Remove</th>




    </tr>
  </thead>
  <tbody>
  	  	{% for data in all_data %}
    <tr>
      <th scope="row">{{ data.name }}</th>
      <td> {{ data.phone }}</td>
      <td> {{ data.email }} </td>
      <td> {{ data.gender }}</td>
      <td> {{ data.age }}</td>
      {% if data.status %}
      <td> Active</td>
      {% else %}
      <td> Inactive</td>
{% endif %}
      <td> {{ data.department }}</td>
      <td> {{ data.attendance }}</td>
      <td> {{ data.salary }}</td>
      <td><a href="{% url 'update_docter' id=data.id %}" class="btn btn-primary" >Update</a></td>
      <td><a href="{% url 'delete_docter' %}" class="btn btn-danger" >Remove</a></td>


    </tr>
    {% endfor %}
   
  </tbody>
</table>
	</div>
  </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" ></script>
</body>
</html>