
<!DOCTYPE html>
<html>
<head>
	<title>Mediacal Prescrition</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
	<style type="text/css">
		nav{
			margin-bottom: 20px;
		}
		.panel-body{
			padding: 10px 12px;
		}

	</style>
	</head>
<body>
 {% include "nav.html" %}
 <div class="container">

 	<br><br>
 
 {% for i in data %}
 <div class="panel panel-default bg-success">
  <div class="panel-body"><h3>{{ i.prescripted_date }}</h3>
    <p>Symptoms : {{ i.symptoms}}</p>
    <p>Prescription : {{ i.prescription }}</p>

  </div>
</div><br>
{% endfor %}
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" ></script>
</body>
</html>